@charset 'UTF-8';

:root {
    --primary: #c1171a;
    --secondary: #fae8d7;
}

body {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    height: 100%;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    z-index: -2; 
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/food.png');
    opacity: 0.2; /* Control the opacity of the background image */
    z-index: -1; /* Ensure the image is behind the content */
}


#logo {
    width: 220px;
}

#logo img {
    width: 100%;
}

nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#menu {
    list-style: none;
    justify-content: center;
    align-items: center;
}

#menu > li {
    display: inline-block;
    padding: 1rem;
    list-style: none;
    box-sizing: border-box;
}

#menu a.nav-link {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary); 
    width: 100px;
    display: inline-block;
    padding: 0 0.3rem 0 0;
    text-align: center;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 0 0 5rem;
}

#banner > div {
    flex: 1 1 100px;
}

#banner-image img {
    width: 100%;
}

#banner-description > h1 {
    font-size: 6rem;
    line-height: 7rem;
    font-weight: 800;
}

#banner-description > h1::first-line {
    color: var(--primary)
}

#banner-description p {
    margin: 1rem 0 0;
    font-size: 1.3rem;
    font-weight: 700;
}

#banner-description a.btn {
    margin: 1.4rem 0;
}

#banner-image img {
    transition: transform .5s ease-in-out;
    animation: fadeInAnimation ease 3s;
    display: block;
    margin: auto;
    width: 100%;
}

#banner-description a.btn {
    margin: 1.4rem 0;
}

a.btn {
    display: inline-block;
    font-weight: 600;
}

.btn {
    background-color: #c1171a;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background-color: #7c0507;
}

.btn-rounded {
    border-radius: 25px;
}

.btn-md {
    padding: 0.9rem 1.8rem;
    font-size: 0.9rem;
}

.btn-sm {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
}

#about-content {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 610px;
    gap: 10px;
}

#primary-item {
    background-color: var(--primary);
    color: #FFFFFF;
}

#primary-item .thumbnail {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#primary-item-heading {
    padding: 0.6rem 1.5rem;
}

#primary-item-heading p {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}

#about-content-sub .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-content-sub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 305px);
}

#about-content > div {
    flex: 1 1 250px;
}

#about-description h1 {
    font-size: 0.8 rem;
    color: #c1171a;
}

#about-description h2 {
    font-size: 1.8rem;
}

#about-description p {
    font-size: 1.5rem;
}

div.section-heading {
    margin: 1.5rem 0;
}

div.section-heading > h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

#primary-item-image img {
    height: 100%
}
/* After checking kindly access the following link: https://forms.gle/xGvfHDjds5ULRvoc8 */


#services {
    background-color: #FFEBEE;
    padding: 1rem 0 1rem;
}

#services-list-content {
    display: flex;
    gap: 75px;
}

.service-item {
    flex: 1 1 200px;
    padding: 20px;
}

#services-list-content img {
    width: 120px;
    margin: auto;
    display: block;
}

.service-item-description {
    text-align: center;
}

.service-item-description > h3 {
    margin: 1rem 0;
    font-weight: 700;
}

.service-item-description > p {
    line-height: 1.3rem;
    font-weight: 400;
}